/* Mobile responsive related css */
@media screen and (max-width: 576px) {
  body {
    width: min-content;
    padding: 20px;
  }
  .navlinks > ul {
    display: none;
  }
  .navlinks {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .menu-icon {
    display: block;
  }
  .banner-section {
    display: flex;
    flex-direction: column;
  }
  .banner-section-text {
    width: min-content;
    justify-content: center;
    margin: 0 auto;
    align-content: center;
    gap: 20px;
  }

  .banner-section-text > h2 {
    font-size: 60px;
  }
  .banner-section-image {
    margin: 0px auto;
  }
  #shape {
    font-size: 100px;
  }
  .image-one {
    margin-left: 0px;
  }
  .image-cousin {
    margin-left: 200px;
    margin-top: -500px;
  }
  .cards-father{
    grid-template-columns: repeat(1, 1fr);
  }
  .card-1{
    width: min-content;
    margin: 0px auto;
  }
  .join-and-img-section {
    flex-direction: column;
    width: 100%;
  }

 .container{
  grid-template-columns: repeat(1,1fr);
  gap: 20px;
 }
 .footer-section{
  flex-direction: column;
  gap: 20px;
 }
 .div-1{
  width: 100%;
 }
 .bmi-father{
  flex-direction: column;
  align-items: center; gap: 20px;
 }
 .bmi-chart{
  gap: 20px;
 }
 .bmi-chart ul {
  width: max-content;
  text-align: left;
 }

 .width{
  width: 0px;
 }
 .num-father{
  flex-direction: column;
  padding: 0px 15px 0px 40px;
 }
 .num-father h1 {
  padding: 0px 50px 50px 125px;
 }
}
