/* Mobile responsive related css */
@media  screen and (max-width: 576px){
    .navlinks > ul {
        display: none;
    }  
    .navlinks{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .menu-icon{
        display: block;
    } 
}