@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-interFont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.grey-qo-regular {
  font-family: "Grey Qo", cursive;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: black; */
  /* color: white; */
  width: 75%;
  margin: 0 auto;
  font-family: "Inter";
}
/* header related styles */
header {
  /* width: 74%; */
  margin: 0 auto;
}
.navbar {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.logo {
  color: rgb(230, 83, 60);
  font-size: 45px;
  font-weight: 700;
}
.navlinks {
  width: 42%;
  align-content: center;
}
.navlinks > ul {
  display: flex;
  justify-content: space-between;
}
.box-1 {
  border-radius: 30px;
  border: 2px solid rgb(230, 83, 60);
  background-color: rgb(230, 83, 60);
  padding: 20% 40%;
}
.navlinks > ul li {
  /* background-color: aquamarine; */
  list-style: none;
  font-weight: bolder;
}

.menu-icon {
  display: none;
  font-size: 30px;
}
/* Main section related styles */
main {
  margin-top: 100px;
}
/* Banner section styles */
.banner-section {
  display: flex;
  justify-content: space-around;
}
.banner-section-text {
  width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#shape {
  font-family: "Grey Qo", cursive;
  font-size: 140px;
}
.banner-section-text > h2 {
  font-weight: 900;
  font-size: 80px;
  line-height: normal;
}
.banner-section-text > h5 {
  font-size: 18px;
  /* color: rgba(255, 255, 255, 0.5); */
  font-weight: 400;
  text-align: left;
}
.btns {
  display: flex;
  gap: 50px;
}
.btn-1 {
  border-radius: 42px;
  background: rgb(230, 83, 60);
  width: 224px;
  height: 60px;
  color: white;
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
}
.btn-2 {
  font-weight: 700;
  font-size: 18px;
  font-family: "Inter";
  color: rgb(0, 0, 0);
  border-radius: 42px;
  width: 224px;
  height: 60px;
}
.banner-section-image {
  position: relative;
}
.image {
  /* position: absolute; */
  z-index: 1;
}
.image-one {
  display: flex;
  gap: 15px;
  align-items: center;
  background-color: black;
  width: max-content;
  padding: 13px;
  border-radius: 42px;
  color: white;
  margin-left: -90px;
  margin-top: -150px;
  position: absolute;
  z-index: 2;
}
.image-one h4 {
  font-weight: 800;
  font-size: 24px;
}
.image-one p {
  font-weight: 700;
  font-size: 18px;
}

#redSpot {
  width: 50px;
  height: 50px;
  background-color: rgb(230, 83, 60);
  border-radius: 50%;
}
.image-cousin {
  width: max-content;
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 10px;
  position: absolute;
  z-index: 2;
  margin-left: 240px;
  margin-top: -400px;
}
.image-cousin h2 {
  font-weight: 800;
  font-size: 35px;
}
.image-cousin p {
  font-weight: 200;
  font-size: 18px;
}

/* change you habit section related styles */

.habits-section-text {
  margin: 0px auto;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
}
.habits-section-text > h2 {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.habits-section-text > p {
  font-weight: 300;
}

/* change you habit cards section  */
.cards-father {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card-img {
  border-radius: 50%;
  border: 1px solid white;
}
.card-1 {
  padding: 20px;
  /* background-color: rgb(158, 128, 128); */
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.h2 {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 10px;
}
.p {
  font-weight: 300;
  text-align: center;
}

/* join now an image */
.join-and-img-section {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  align-items: center;
  margin: 100px 0px;
}
.run-div-text {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* text-align: left; */
}
.run-h2 {
  font-size: 50px;
}
.run-img {
  border-radius: 20px;
  width: 400px;
}

/* extra */
.num-father {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.num-father h1 {
  position: absolute;
  text-align: center;
  font-size: 100px;
  z-index: 1;
  color: rgb(172, 189, 204);
}
.num-father p {
  text-align: center;
  font-size: 30px;
  padding: 39px 40px 40px 0px;
  letter-spacing: 10px;
  position: relative;
  font-weight: bolder;
  z-index: 2;
}
/* meet our team related styles */
.container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1060px;
  margin: auto;
}
.team-cards {
  color: white;
  position: relative;
  border-radius: 20px;
  /* border: 2px solid red; */
  height: 300px;
  /* padding: 20px; */
}
.team-cards img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
}
.team-cards h3,
.team-cards p {
  position: relative;
  z-index: 2;
}
.team-cards h3 {
  font-size: 20px;
  font-weight: bolder;
  padding: 230px 0px 0px 40px;
}
.team-cards p {
  opacity: 0.8;
  padding: 0px 0px 0px 40px;
}

/* bgmi section related sytles */
.bmi-father {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.bmi-chart-father {
  width: 50%;
  margin: 0px auto;
  text-align: center;
}
.bmi-chart-father h2 {
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 900;
}
.bmi-chart {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
}

.bmi-charted {
}
.bmi-chart h3 {
  font-size: x-large;
  padding-bottom: 10px;
}
.bmi-chart ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bmi-chart ul > li {
  opacity: 0.6;

  font-weight: bolder;
}

.input {
  width: 90%;
  height: 40px;
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
  font-weight: bolder;
}
.gridarea1 {
  grid-area: "gridarea1";
}
.gridarea2 {
  grid-area: "gridarea2";
}
.gridarea3 {
  grid-area: "gridarea3";
}
.gridarea4 {
  grid-area: "gridarea4";
}
.gridarea5 {
  grid-area: "gridarea5";
}
.inputs-father {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "gridarea1 gridarea2"
    "grdiarea3 gridarea4"
    "gridarea5 gridarea5";
}
.selector {
  width: 95%;
  padding: 20px;
  font-size: 20px;
  font-weight: bolder;
  opacity: 0.6;
  border-radius: 20px;
}
/* footer related styles */

.footer-section {
  padding: 50px;
  margin-top: 100px;
  border-radius: 20px 20px 0px 0px;
  color: white;
  background-color: rgb(63, 63, 63, 0.9);
  display: flex;
  justify-content: space-evenly;
}
.div-1 {
  width: 30%;
}
.div-1 p {
  opacity: 0.8;
}
.div-2 ul,
.div-3 ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.div-2 h3,
.div-3 h3 {
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: bolder;
}
.div-2 ul li,
.div-3 ul li {
  list-style: none;
  font-weight: bold;
}
